.track-item {
  text-align: center;
  background-color: #b7e4ed;
  padding: 30px;
}

.track-button {
  border-radius: 25px;
}

.player {
  margin-top: 10px;
}

.player-controls {
  color: 76d196;
}

.button-text {
  text-decoration: solid;
  font-weight: 1900px;
  color: #cd4ea8;
}

audio::-webkit-media-controls-panel {
  background-color: rgb(255, 199, 179);
  width: auto;
}
